.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.task-card {
  width: 18rem;
  height: 30rem;
  margin-bottom: 2rem;
}

.add-comment-btn {
  background-color: black;
  border: none;
  color: white;
  padding: 4px 8px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.commentSection {
  background-color: #717f9b;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  padding: 15px;
  border-bottom: 1px solid;
}

.yeptest:link,
.yeptest:visited {
  background-color: #c7c5c5;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.yeptest:hover,
.yeptest:active {
  background-color: red;
}
